<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PS21572 - Nguyễn Doãn Tùng</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body ng-app="b1" ng-controller="ctr1">
  <form name="frm" class="col-5 mx-auto border border-primary">
    <div class="form-group">
      <label>Tên SP</label>
      <input name="tensp" class="form-control bg-primary" ng-model="tensp" required minlength="2" maxlength="30">
      <em ng-if="frm.tensp.$invalid" class="text-danger h6">Nhập tên sản phẩm từ 2 đến 30 ký tự</em>
    </div>
    <div class="form-group">
      <label>Số lượng</label>
      <input name="soluong" class="form-control bg-warning" ng-model="soluong" type="number" min="1">
      <em ng-if="frm.soluong.$invalid || soluong>100" class="text-danger h6">Nhập số từ 1 đến 100</em>
    </div>
    <div class="form-group">
      <label>Nhà sản xuất</label>
      <select name="nsx" class="form-control bg-secondary text-white" ng-model="nsx">
        <option value="0">Chọn NSX</option>
        <option value="1">Samsung</option>
        <option value="2">Toshiba</option>
        <option value="3">HTC</option>
      </select>
      <em ng-if="frm.nsx.$invalid || !nsx || nsx==0" class="text-danger h6">Hãy chọn một nhà sản xuất</em>
    </div>
    <div class="form-group">
      <label>Tình trạng</label>
      <fieldset class="border border-secondary p-3">
        <input name="tinhtrang" type="radio" value="1" ng-model="tinhtrang"> Hàng cũ &nbsp;
        <input name="tinhtrang" type="radio" value="2" ng-model="tinhtrang"> Hàng mới
        <em ng-if="frm.tinhtrang.$invalid || !tinhtrang" class="text-danger h6"><br>Hàng cũ hay mới?</em>
      </fieldset>
    </div>
    <div class="form-group">
      <label>Màu sắc</label>
      <fieldset class="border border-secondary p-3">
        <input value="do" type="checkbox" ng-model="maudo"> Đỏ &nbsp;
        <input value="den" type="checkbox" ng-model="mauden"> Đen &nbsp;
        <input value="trang" type="checkbox" ng-model="mautrang"> Trắng
        <em ng-if="frm.nsx.$invalid || !maudo && !mauden && !mautrang" class="text-danger h6"><br>Màu gì vậy?</em>
      </fieldset>
    </div>
    <div class="form-group">
      <button class="btn btn-info" type="button" ng-click="chuyentrang();">Nhập sản phẩm</button> <br>
      <em ng-if="frm.$valid && nsx && tinhtrang && maudo || mauden || mautrang " class="text-danger h6">Bạn nhập dữ liệu
        đã chính xác.Cảm ơn
        nhé. </em>
    </div>
  </form>
</body>
<script>
  app = angular.module("b1", []);
  app.controller("ctr1", xuly);

  function xuly($scope) {
    $scope.chuyentrang = function () {
      setTimeout(document.location = "https://longnv.name.vn/lap-trinh-javascript", 10000);
    }
  }
</script>

</html>